@media only screen and (min-width:500px) and (max-width: 767px) {
    .countImage{
        height: 850px;
    }
    .contactSec .container{
        padding: 0 0 ;
    }
    .socialMedia{
        text-align: center;
        margin-bottom: 60px;
    }
    .btn{
        
        margin-bottom: 50px;
    }
    .contactSec .row .icons p, .socialMedia{
        text-align: start;
    }
    #rowP{
        text-align: start;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px ) {
    .countImage{
        height: 500px;
    }
    .contactSec .container{
        padding: 0 0 ;
    }
    .socialMedia{
        text-align: center;
        margin-bottom: 60px;
    }
    .btn{
        
        margin-bottom: 50px;
    }


};